body {
    text-align: center;
    background-color:#EEF0F2;
}

/* header */
.app-header {
    background-color: #fca311;
    height: 5%;
    color: #403f4c;

}

/* SECTION search-add-container */

.searchbar{
    width: 70%;
}

/*main*/

.main-revision-topic {
    max-height: 70%;
}


.revision-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}
.revision-list li {
}


/*Footer*/




